body {
  background-color: #adb1ed;

  background-size:500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  font-family: 'Syne Tactile', cursive;
  font-family: 'Syne Mono', monospace;
  height: 100vh;
  transition-property: all;
  transition-duration:20s;
  background-image:url("covid.jpg");
  background-size: cover;


}
#man{
  position: absolute;
  top: 670px;
  left:10px;
  opacity: .6;
}

#Wash{

}

#doggy{
  position: absolute;
  top: 600px;
  left: 1200px;
}

#window{
  position: absolute;
  top: 50px;
  left: 600px;
  background-color: blue;
  text-align: center;
  width: 150px;
  height: 170px;
font-size: 50px;
  transition-property: all;
  transition-duration: 10s;
  animation-name: bounce ;
  animation-duration: 5s;

}

#window:hover {

  background-color: red;
}

#link{
font-family: 'Big Shoulders Stencil Display', cursive;
  font-size:30px;
  font-color: black;
}



@keyframes bounce
{
  0%{
    top:1000px;   opacity: 0.2; }
  100%{
    top:50px;    opacity: 0.8;}
}


h1 {
    font-family: 'Playfair Display', serif;
    color:#c1cde6;
    text-align:center;
    font-size:50px;
    background-image:url("virus2.jpg");
    background-repeat:no-repeat;
    background-size: 600px;
    background-position: center;
    background-color:#001a47;
    opacity:.85;
    border-color: #2a0852;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    padding:10px;
    width: 400px;
    margin: 20px;
    }

p {
    color:#232b99;
    font-size:30px;
}

h3 {
   color:skyblue;
}
